/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
  box-shadow:
    0 0 0 0.1rem white,
    0 0 0 0.25rem #258cfb;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: black;
  background-color: aquamarine;
  border-color: aquamarine;
  --bs-btn-color: aquamarine;
  --bs-btn-bg: aquamarine;
  --bs-btn-border-color: aquamarine;
  --bs-btn-hover-color: black;
  --bs-btn-hover-bg: aquamarine;
  --bs-btn-hover-border-color: aquamarine;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: aquamarine;
  --bs-btn-active-bg: aquamarine;
  --bs-btn-active-border-color: aquamarine;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: aquamarine;
  --bs-btn-disabled-bg: aquamarine;
  --bs-btn-disabled-border-color: aquamarine;
}
